.page-header {
    text-align: center;
    font-family: "consolas", "微软雅黑";
}

.container {
    font-family: "consolas", "微软雅黑";
    line-height: 1.7;
    margin-bottom: 5rem;
}

.container h2 {
    font-size: 1.8rem;
    background-color: cornflowerblue;
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-left: 1.2rem;
    border-radius: 2px;
    color: #ffffff;
}

.container code {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    color: #6f6f6f;
}

.container ul {
    padding-left: 3rem;
}

.container table {
    width: 100%;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

.container th {
    border-bottom: 1px solid #c1c1c1;
    padding: 0.3rem
}

.container blockquote {
    border-left: 5px solid #96b946;
    margin-bottom: 0.8rem;
    padding: 5px 15px;
    color: #656565;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}